/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */


/* remember to highlight inserts somehow! */

ins,
a {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.contain {
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

.scroll-container {
  overflow-y: scroll;
  height: calc(100% - 50px);
}

.animateme {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: rgb(69, 45, 88);
    background: linear-gradient(-135deg, #0f0e11 0%, #19171c 100%);
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #433470;
    bottom: 60px;
    animation: square 15s infinite;
    transition-timing-function: linear;
    opacity: 0;
}

.bg-bubbles li:nth-child(1) {
    left: 3%;
    border-radius: 0;
    background: transparent;
    border: 4px solid #433470;
}

.bg-bubbles li:nth-child(2) {
    left: 6%;
    width: 75px;
    height: 75px;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
    left: 15%;
    width: 175px;
    height: 175px;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 90px;
    height: 90px;
    animation-duration: 22s;
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
    background: transparent;
    border: 4px solid #433470;
}

.bg-bubbles li:nth-child(6) {
    left: 90%;
    width: 90px;
    height: 90px;
    animation-delay: 3s;
    border-radius: 0;
    background: transparent;
    border: 4px solid #433470;
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 60px;
    height: 60px;
    animation-delay: 7s;
    background: transparent;
    border: 4px solid #433470;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 50px;
    height: 50px;
    animation-delay: 15s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 30%;
    width: 140px;
    height: 140px;
    animation-delay: 2s;
    animation-duration: 40s;
    border-radius: 0;
    background: transparent;
    border: 4px solid #433470;
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 11s;
}

.bg-bubbles li:nth-child(11) {
    left: 10%;
    width: 40px;
    height: 40px;
    animation-delay: 13s;
    border-radius: 0;
}

.bg-bubbles li:nth-child(12) {
    left: 55%;
    width: 175px;
    height: 175px;
    animation-delay: 7s;
    background: transparent;
    border: 4px solid #433470;
}

.bg-bubbles li:nth-child(13) {
    left: 65%;
    width: 100px;
    height: 100px;
    animation-delay: 8s;
    border-radius: 0;
}

@keyframes square {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
        opacity: 0;
    }
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background: #4b367c;
    width: 100%;
    padding: 0 20px;
    z-index: 999;
}

.nav-ul {
    float: right;
}

.nav-li {
    display: inline-block;
}

.logo {
    position: relative;
    float: left;
}

.logo-a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 50px;
}

.nav-a {
    text-transform: capitalize;
    color: #b19dd8;
    font-size: 14px;
    text-decoration: none;
    height: 50px;
    border-bottom: 2px solid transparent;
    padding: 0 15px;
    display: flex;
    align-items: center;
}


/*
.nav-a.active{
	border-bottom-color: #8f6ed2;
	transition: border-color 0.3s;
}*/

.nav-a:hover,
.nav-a:active {
    color: #fff;
}

.logo-twitch {
    font-weight: 900;
    color: #d5cced;
    height: 20px;
}

.logo-cord {
    margin-top: 1px;
    font-weight: 400;
    color: #fff;
    text-indent: 1px;
    height: 20px;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.logo-icon {
  width: 24px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
}

@-webkit-keyframes progress1 {
    0% {
        -webkit-transform: scalex(0);
        transform: scalex(0);
        opacity: .5;
    }
    90% {
        -webkit-transform: scalex(1);
        transform: scalex(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scalex(1);
        transform: scalex(1);
        opacity: 1;
    }
}

@keyframes progress1 {
    0% {
        -webkit-transform: scalex(0);
        transform: scalex(0);
        opacity: .5;
    }
    90% {
        -webkit-transform: scalex(1);
        transform: scalex(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scalex(1);
        transform: scalex(1);
        opacity: 1;
    }
}

.nav-a.current {
    color: #fff;
    border-bottom: 2px solid #fff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #392e5c;
}

::-webkit-scrollbar-track {
    background-color: #19171c;
}

.header {
  margin-top: 150px;
}

.section-1-header {
    text-align: center;
    font-size: 30px;
    color: #d5cced;
    display: inline-block;
    position: relative;
    line-height: 64px;
    vertical-align: top;
}

.section-1 .discord {
    display: inline-block;
    margin-left: 10px;
}

.section-1 .bd-p {
  color: #898395;
  font-size: 12px;
}

.section-1 .bd-a {
  color: #b19dd8;
}

.section-1 .bd-a:hover {
  text-decoration: underline;
}

.discord-icon {
    background: url('../images/discord-logo.png') no-repeat 50%;
    width: 232px;
    height: 64px;
    display: block;
}

.discord-a {
    display: block;
    line-height: 64px;
    width: 232px;
    height: 64px;
}

.discord-a-span {
    text-indent: -999999px;
    display: block;
    position: absolute;
}

.section-1 {
    margin: 0 auto;
    text-align: center;
}

.buttons-cont {
    display: block;
    margin-top: 50px;
}

.primary {
    display: inline-block;
    border-radius: 2px;
    position: relative;
    background: #6442a4;
    font-size: 14px;
    color: #fff;
    border: 2px solid #6442a4;
    height: 48px;
    width: 190px;
    line-height: 44px;
    margin-right: 30px;
}

.primary:hover {
  background-color: #7d5bbf;
  border-color: #7d5bbf;
}

.primary:active {
  box-shadow: 0 0 10px 0 #6442a4;
  border-color: #7d5bbf;
  background: #6442a4;
}

.secondary {
    display: inline-block;
    border-radius: 2px;
    background: transparent;
    font-size: 14px;
    background: transparent;
    border: 2px solid #4b367c;
    color: #dad8de;
    height: 48px;
    width: 190px;
    line-height: 44px;
}

.secondary:hover {
  background: hsla(0,0%,100%,.05);
  border-color: #6441a4;
  color: #efeef1;
}

.secondary:active,
.secondary:hover:active {
  background: rgba(100,65,164,.1);
  border-color: #7d5bbe;
  box-shadow: 0 0 10px 0 #7d5bbe;
  color: #efeef1;
}

.github-txt {
    color: #cbc8d0;
    font-size: 14px;
}

.github-a-span {
    text-indent: -99999px;
    display: block;
    position: absolute;
}

.github-icon {
    background: url('../images/github-logo.png') no-repeat 50%;
    width: 89px;
    height: 23px;
    display: inline-block;
}

.github-a {
    display: inline-block;
    position: relative;
    margin: 10px 8px;
    line-height: 24px;
    width: 89px;
    height: 23px;
    top: 5px;
}

.join-github {
    margin-top: 25px;
}

.section-1-preview-img {
    display: block;
    margin: 100px auto 0;
    padding: 0 20px;
    position: relative;
}

.preview-img {
    width: 100%;
    height: auto;
    margin: auto;
    -webkit-animation-timing-function: cubic-bezier(0.52, 0.28, 0.28, 1);
    animation-timing-function: cubic-bezier(0.52, 0.28, 0.28, 1);
    visibility: hidden;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.wow.animated {
    visibility: visible;
}

.wow {
    visibility: hidden;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.about-twitchcord {
  padding: 100px;
  position: relative;
  width: 100%;
  background: #2c2541;
  z-index: 3;
  margin-top: -20px;
}

.about-twitchcord::before {
  content: '';
  width: 100%;
  height: 100px;
  top: -100px;
  pointer-events: none;
  position: absolute;
}

.section-2-header {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2-header .section-small {
  margin: 0 50px 0 0;
}

.section-2-header-txt {
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    margin-bottom: 25px;
}

.black {
    font-weight: 900;
}

.section-2-header-txt .purple {
    color: #d5cced;
}

.section-2-para {
    color: #d5cced;
    font-size: 16px;
    line-height: 1.6;
}

.twitchcord-logo {
  display: inline-block;
  width: 100%;
  height: auto;
  transform: scale(0.8);
}

.section-2-heading {
  margin-left: 30px;
  text-align: left;
}

.screenshots {
    position: relative;
    width: 100%;
    background: #0f0e11;
    z-index: 2;
    overflow: hidden;
    padding: 150px 0;
}

.screenshots-header-txt {
    color: #fff;
    font-size: 48px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.screenshots-para {
    font-size: 16px;
    line-height: 1.6;
    color: #d5cced;
    display: block;
    text-align: center;
}

.screenshot {
    position: relative;
    display: block;
    z-index: 4;
    margin: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    min-width: calc(33.333% - 40px);
}

.screenshot:first-of-type {
  margin-left: 0;
}

.screenshot:last-of-type {
  margin-right: 0;
}

.screenshot-img {
  width: 100%;
  height: auto;
}

.screenshots-contain {
    margin: 80px 30px 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.download-now {
  padding: 200px;
  background: #8e68d9 url('../images/twitchcord-bg.png');
  animation: 100s scroll infinite linear;
  z-index: 1;
  position: relative;
}

@keyframes scroll {
  100% {
      background-position: 0px -3000px;
  }
}

.download-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-header-txt {
    font-size: 48px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.download-para {
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.section-small {
    width: 20%;
    margin-left: 50px;
}

.section-small,
.section-large {
    text-align: center;
}

.section-large {
  width: 70%;
}


.download-button {
  margin: 45px 0 0;
  padding: 0 60px;
}

.download-button-a:hover,
.download-button-a:active {
    background: #7d5bbf;
    transition: background-color 0.2s;
}

.support {
    position: relative;
    background: url('../images/crossthatch.png'), linear-gradient(to bottom, #17141f 0, #2a2247 100%);
    width: 100%;
    padding: 150px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
}

.support-header,
.donate-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.support-header-txt,
.donate-header-txt {
    color: #fff;
    font-size: 48px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.support-para,
.donate-para {
    color: #d5cced;
    font-size: 16px;
    line-height: 1.6;
}

.support-button-a,
.donate-button-a {
    margin-top: 45px;
}

.heart {
    display: inline-flex;
    width: 100%;
    height: auto;
    position: relative;
    animation: heartbeat 5.5s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.9);
    }
    8% {
        transform: scale(1.1);
    }
    16% {
        transform: scale(0.9);
    }
    24% {
        transform: scale(1.1);
    }
    33% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.9);
    }
}

.screenshots::after {
  pointer-events: none;
  top: unset;
  bottom: 0;
  z-index: 4;
}

.donate {
    padding: 200px;
}

.block-container {
    transform: scale(0.8);
    width: 100%;
    height: auto;
}

.download-now .section-small {
    margin: 0 50px 0 0;
}

.donate .section-small {
    margin-right: 50px;
}

.footer {
    background: #2c2541;
    color: #b19dd8;
    font-size: 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    display: block;
    line-height: 50px;
    text-align: center;
}

.my-gallery {
    width: 100%;
    float: left;
}

.my-gallery img {
    width: 100%;
    height: auto;
}

.my-gallery figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
}

.my-gallery figcaption {
    display: none;
}

.subpara {
    color: #d5cced;
    font-size: 16px;
    line-height: 1.6;
}

.section-2-body {
    text-align: center;
    margin: 100px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2-1,
.section-2-2,
.section-2-3 {
    background: #19171c;
    border: 4px solid #0f0e11;
    padding: 50px 30px;
    position: relative;
}

.section-2-1,
.section-2-2 {
    margin-right: 25px;
}

.subheading {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 25px;
}

.everevolving {
    background: url('../images/everevolving.png') no-repeat 50%;
    width: 99px;
    height: 66px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -20px;
}

.fullystyled {
    background: url('../images/fullystyled.png') no-repeat 50%;
    width: 65px;
    height: 70px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -30px;
}

.pixelperfect {
    background: url('../images/pixelperfect.png') no-repeat 50%;
    width: 74px;
    height: 77px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -40px;
}

.stay-connected,
.social-nav {
    text-align: center;
}