.xbox .a {
    top: 114px;
    left: 56px;
}

.xbox .b {
    top: 63px;
    right: -4px;
}

.xbox .x {
    top: 63px;
    left: 4px;
}

.xbox .y {
    left: 56px;
    top: 11px;
}

.xbox .button.pressed {
    margin-top: -2px;
}

.xbox .back.pressed, .xbox .start.pressed {
    margin-top: -2px;
    margin-left: -3px;
}

.xbox .start.pressed {
    margin-right: 1px;
}

.xbox .stick.left {
    top: -3px;
    left: -5px;
}

.controller.xbox {
    background: url(http://www.dperolio.com/stream/base3.png);
}